# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

Miner/\.idea/

JavaWallet/\.idea/

JavaWallet/KermitKoin\.iml

*.class

JavaWallet/out/production/KermitKoin/kermit/receivePopup\.fxml

JavaWallet/out/production/KermitKoin/kermit/sendForm\.fxml

JavaWallet/out/production/KermitKoin/kermit/wallet\.css

JavaWallet/out/production/KermitKoin/kermit/walletUI\.fxml

*.ser
